<!-- <mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
	<mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->


<div class="form-group col-md-4">
	<mat-card>
		<div class="form-inline form-row">
			<div class="form-group mx-sm-4 mb-4">
				<mat-form-field class="example-full-width">
					<input type="text" matInput placeholder="City">
				</mat-form-field>
			</div>
			<div class="form-group mx-sm-4 mb-4">
				<mat-form-field class="example-full-width">
					<input type="text" matInput placeholder="Date (MM/DD/YYYY)">
				</mat-form-field>
			</div>
		</div>
		<div class="form-inline form-row">
			<div class="form-group mx-sm-4 mb-4">
				<mat-form-field class="example-full-width">
					<input type="text" matInput placeholder="State">
				</mat-form-field>
			</div>
			<div class="form-group mx-sm-4 mb-4">
				<button type="button" mat-mini-fab (click)="goClick()" color="primary">Go</button>
			</div>
		</div>
	</mat-card>
</div>