.example-form-field {
    width: 30%;
}

.event-list-card {
  display: flex;
  justify: cented;
  margin: 10px 0px;
  height: 200px;
  /*width: 80%;*/
}

mat-card-content {
  display: inline-flex;
}

.event-price-range {
  color: cadetblue;
}

.event-name {
  font-size: 18px;
  font-weight: 500;
}

.event-list-container {
  width: 70%;
  margin: 0 auto;
}

.event-list-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 280px;
  height: 170px;
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}


/* MOBILE) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .event-list-image {
    margin-top: 10px;
    width: 100px;
    height: 80px;
  }

  .event-list-container {
    overflow: scroll;
    width: 90%;
  }
}
