<app-input-form (searchClick)="receiveData($event)"></app-input-form>

<div class="event-list-container">
  <mat-card class="event-list-card" *ngFor="let e of eventCriteria">
    <mat-card-content>
      <div>
        <img class="event-list-image" [src]="e.images[2].url">
      </div>
      <div class="event-list-content">
        <div class="event-name">
          {{e.name}}
        </div>
        <div class="event-price-range" *ngIf="validatePriceRange(e)">
          Price Rance: ${{e.priceRanges[0].min}} - ${{e.priceRanges[0].max}}
        </div>
        <div class="event-price-range" *ngIf="!validatePriceRange(e)">
          Price Rance: Not Available
        </div>


        <div class="event-date" *ngIf="validateDate(e)">
          Event date: {{e.dates.start.dateTime | date}}
        </div>
        <div class="event-date" *ngIf="!validateDate(e)">
          Event date: Not Available
        </div>
      </div>
    </mat-card-content>
  </mat-card>
