
<app-input-form (searchClick)="recieveMess($event)"> </app-input-form>

<!-- <div *ngIf="status" *ngFor="let item of table"> -->
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{cardTitle}}</mat-card-title>
        <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{imageSrc}} alt={{atlContent}}>
      <mat-card-content>
        <p>
          {{textDetail}}
        </p>
      </mat-card-content>
      <hr>
      <div class="mainControl">
        <mat-chip-list>
          <mat-chip color="primary" selected>{{timeStart}}</mat-chip>
        </mat-chip-list>
      </div>
      <hr>
  </mat-card>
<!-- </div> -->